  #gallery-filter-panel{
    .filter-title-wrap{
      background-color: #fafafa;
      .latest,
      .latest-selected{
        cursor: pointer;
        margin-right: 40px;
        float: left;
        height: 52px;
        font-size: 14px;
        font-weight: 400;
        font-stretch: normal;
        letter-spacing: 0;
        color: #999999;
      }
      .latest-selected{
        color: #121212;
      }
    }
    .pop-modal{
      position: absolute;
      // height: 365px;
      overflow-x: hidden;
      overflow-y: hidden;
      background-color: #ffffff;
      border: solid 1px rgba(0, 0, 0, 0.1);
      z-index: 1001;
    }
    .season-modal{
      padding-top: 25px;
      height: 365px;
      max-width: 545px;
      // left: 0;
      // right:0;
      // margin: auto;
      overflow-x: hidden;
      overflow-y: auto;
      .cell-season-wrap{
        .season-year{
          padding-right: 0;
          width: 130px;
          padding-left: 30px;
          font-size: 14px;
          color: #111111;
        }
        .season-detail{
          .cell-season-selected,
          .cell-season-value{
            cursor: pointer;
            min-width: 0;
            margin-right: 38px;
            padding-bottom: 25px;
            display: inline-block;
            color: #999999;
          }
          .cell-season-selected{
            color: #4887fa;
          }
        }
      }
    
    }
    .design-modal{
      max-width: 785px;
    }
    .hide-modal{
      position: absolute;
      visibility: hidden;
      width: 785px;
      height: 365px;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color:#e5e5e5;
      }
    .height-line {
      width: 100%;
      height: 10px;
      background-color:#fff;
    }
    .cell-season-wrap {
      display: flex;
      padding-bottom: 15px; 
      .season-detail{
        flex: 1
      }
    }
    .new-select-panel {
      min-height: 88px;
      padding: 30px 0 10px 0;
      display: flex;
      .new-select-value{
        flex: 1;
        padding-left: 20px;
        margin-top:0px;
        .designer-value,
        .city-value,
        .diy-value,
        .value-selected,
        .season-value{
          cursor: pointer;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 20px;
          letter-spacing: 0px;
          color: #121212;
          margin-bottom: 20px;
          margin-top: -2px;
          display: inline-block;
        }
        .season-value-wrap{
          display: inline-block;
          margin-right: 60px;
        }
        .city-value,
        .season-value{
          &:hover{
            color: #4887fa;
          }
        }
        .diy-value{
          margin-left: 10px;
          padding: 2px 20px;
          height: auto;
          color: #818181;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px rgba(0, 0, 0, 0.08);
        }
      }
      .new-select-value,
      .new-select-title {
        margin-right: 40px;
        .select-title {
          margin-right: 42px;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #121212;
        }
        .select-all-selected,
        .value-selected,
        .city-value,
        .season-value,
        .select-all {
          cursor: pointer;
          font-size: 14px;
          letter-spacing: 0px;
          color: #111111;
          display: inline-block;
          padding: 4px 10px;
          border-radius: 3px;
        }
        .value-selected,
        .city-value{
          margin-right: 10px
        }
        .value-selected,
        .select-all-selected {
          color: #ffffff;
          background-color: #111111;
          border-radius: 3px;
          margin-bottom: 20px;
          .icon-cancel-black{
            margin-left: 10px;
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
    // 首字母检索
    #word-filter-panel {
      .word-content,
      .word-list {
        color: #999999;
        background: #ffffff;
      }
      .word-content {
        background-color: #ffffff;
        border-top: solid 1px rgba(0, 0, 0, 0.2);
        padding: 16px;
        max-height: 305px;
        overflow-y: auto;
        .word-content-item {
          margin-bottom: 28px;
          &:last-child{
            margin-bottom: 0px;
           }
          .word-title {
            margin-bottom: 9px;
          }
          ul {
            width: 100%;
            .li-wrap-single{
              display: flex;
              justify-content: flex-start;
             }
             .li-wrap{
              display: flex;
              justify-content: space-between
             }
             .li-wrap-single li,
             .li-wrap li,
            li {
              cursor: pointer;
              font-size: 14px;
              color: #999999;
              float: left;
              padding: 10px;
              text-align: left;
              flex: 1;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              &:hover {
                color: #4887fa;
              }
            }
          }
        }
      }
      .word-list {
        padding: 22px 30px;
        display: flex;
        justify-content: space-between;
        li {
          display: inline-block;
          color: #111111;
          cursor: pointer;
          width: 25px;
          text-align: center;
          &.gray {
            color: #c8c8c8;
          }
          &:hover {
            color: #4887fa;
          }
        }
      }
    }
  }