@import "../../common/variable";

#share-folder-pop-panel {
  @include popBg();
  z-index: 1001;
  .avatar {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .share-folder-pop-panel {
    @include centerPop();
    width: 800px;
    border-radius: $borderRadius;
    background: #fff;
  }
  .cancel-pop {
    @include closePop();
  }
  .share-folder-pop-header {
    @include popHeader();
  }
  .share-folder-operate {
    position: relative;
    padding: 16px 21px;
    font-size: 16px;
    color: #323232;
    .add-user {
      position: absolute;
      width: 100px;
      top: 16px;
      right: 0;
    }
    .btn-add-user {
      font-size: 14px;
      color: #777;
      .iconfont {
        margin-right: 5px;
        font-size: 12px;
      }
    }
    .search-user-panel {
      position: absolute;
      right: 21px;
      top: 25px;
      width: 200px;
      background: #FFF;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
      border-radius: $borderRadius;
      z-index: 2;
      .search-input {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .06);
        .iconfont {
          position: absolute;
          top: 0;
          left: 10px;
          font-size: 18px;
          color: #ddd;
        }
      }
      .search-input-wrapper {
        margin: 12px 0 12px 35px;
        input {
          width: 100%;
          padding: 0 4px;
          border: 0;
          font-size: 12px;
        }
      }
    }
    .search-user-list {
      width: 100%;
      li {
        cursor: pointer;
        position: relative;
        padding: 0 15px 0 60px;
        line-height: 60px;
        font-size: 14px;
        color: #1D1D1D;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
      .search-user-avatar {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
      }
    }
  }
  .share-folder-pop-content {
    height: 400px;
    padding: 19px 0 19px 20px;
    overflow-y: hidden;
  }
  .folder-user-list {
    height: 100%;
    overflow-y: auto;
    li {
      display: inline-block;
      position: relative;
      padding: 20px 0 20px;
      width: 152px;
      text-align: center;
      transition: opacity .3s;
      vertical-align: top;
      .folder-user-avatar {
        width: 102px;
        height: 102px;
        margin: 0 auto 25px;
      }
      .creator,
      .myself,
      .wait-agree {
        position: absolute;
        right: 30px;
        top: 105px;
        padding: 2px 5px;
        font-size: 10px;
        color: #FFF;
        background: #4983EF;
        border-radius: 15px;
        border: 1px solid #fff;
      }
      .myself {
        background: #EE898B;
      }
      .wait-agree {
        background: #323232;
      }
      .uname {
        width: 102px;
        line-height: 25px;
        margin: 0 auto;
        font-size: 18px;
        color: #1D1D1D;
      }

      .folder-from-user-avatar {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0 3px;
        vertical-align: middle;
      }
      .item-hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.88);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: $borderRadius;
        text-align: center;
        .user-from {
          margin-top: 68px;
          font-size: 14px;
          color: #323232;
        }
        button {
          position: absolute;
          bottom: 22px;
          left: 50%;
          width: 60px;
          line-height: 30px;
          height: 30px;
          transform: translateX(-50%);
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}