<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共享精选集--react</title>
    <link rel="stylesheet" href="../../common/common.scss"/>
</head>
<body>
<div id="app">
    <div id="content">

    </div>
</div>
<!--React,jQuery-->
<script src="//cdn.bootcss.com/react/15.4.2/react.js"></script>
<script src="//cdn.bootcss.com/react/15.4.2/react-dom.js"></script>
<script src="https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/static-web/jquery.min.js"></script>
<script src="../../common/mod.js"></script>
<script src="../../view/test/ShareFolder-react.js"></script>
</body>
</html>