#index-waterfall-query{
    .filter-title {
        font-size: 14px;
        color: #121212;
        padding-top: 20px;
        .filter-type {
          overflow: hidden;
          padding: 10px 0;
          .filter-type-item{
            height: 33px;
            line-height: 33px;
            cursor: pointer;
            float: left;
            margin-left: 40px;
            font-size: 20px;
            color: #999999;
            &:first-of-type{
              margin-left: 0;
            }
            &.selected{
              transition: font-size .2s;
              font-size: 24px;
              color: #121212;
            }
          }
        }
      }
}