.banner.user_center {
  position: relative;
  width: 100%;
  height: 254px;
  text-align: center;
  background: url(https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/static-web/banner_user_center.jpg);
  background-size: auto 200px;
  background-position: center 54px;
  background-repeat: repeat-x;
}

.user_center_nav {
  background: white;
  .container {
    position: relative;
    height: 60px;
    .avatar {
      display: inline-block;
      width: 90px;
      height: 90px;
      padding: 4px;
      margin: -45px 29px 0 0;
      background: white;
      div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
      }
    }
    .name {
      position: absolute;
      top: -45px;
      margin-left: 132px;
      font-size: 24px;
      color: #FFF;
    }
    .center_channel {
      position: relative;
      top: -10px;
      display: inline-block;
      li {
        cursor: pointer;
        display: inline-block;
        margin-right: 42px;
        padding-bottom: 6px;
        a {
          color: #1D1D1D;
        }
        .iconfont {
          margin-right: 8px;
          font-size: 15px;
        }
        .icon-61c {
          color: #ED695B;
        }
        .icon-61b {
          color: #D3BA4D;
        }
        .icon-61a {
          color: #2FC2CF;
        }
        .icon-619 {
          color: #0294C1;
        }
        &.current {
          border-bottom: 2px solid #4887FA;;
        }
        &.hide {
          display: none;
        }
      }
    }
  }
}