@import "../../common/variable";

$staticLineHeight: 40px;

.user-manage-panel {
  position: relative;
  width: 740px;
  margin: 0 auto;
  .user-wechatInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    &.edit .user-wechatName:nth-child(2) {
      display: none;
    }
    &.edit .user-wechatName:nth-child(3) {
      display: flex;
      margin-left: 105px;
    }
    #avatar-edit-wrapper {
      .user-avatar {
        position: relative;
        width: 168px;
        height: 168px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        span {
          display: block;
          opacity: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 168px;
          background: rgba(0, 0, 0, 0.40);
          transition: all .2s ease;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0.26px;
          border-radius: 50%;
        }
        #upload-avatar {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        &:hover {
          span {
            opacity: 1;
          }
        }
      }
    }
    .user-wechatName {
      margin-top: 30px;
      &:nth-child(2) {
        margin-left: 110px;
        &:hover .user-edit {
          opacity: 1;
        }
        .input-text-name {
          float: left;
          font-size: 16px;
          color: #111111;
          letter-spacing: 0.25px;
          line-height: 30px;
        }
        .user-edit {
          opacity: 0;
          float: right;
          margin-left: 50px;
          transition: all .2s ease;
        }
      }
      &:nth-child(3) {
        display: none;
        .input-text-edit {
          outline: none;
          width: 110px;
          height: 30px;
          line-height: 30px;
          background: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.08);
          border-radius: $borderRadius;
          font-size: 16px;
          color: #111111;
          letter-spacing: 0.25px;
          padding-left: 10px;
        }
        .btn-save {
          width: 60px;
          height: 30px;
          margin-left: 50px;
        }
      }
    }
  }
}

#select-tag-wrapper {
  .login-panel-10 {
    position: fixed;
  }
}

.settingInfo-container {
  width: 100%;
  .user-item {
    display: flex;
    .user-item-title {
      width: 20%;
      font-size: 14px;
      color: #323232;
      letter-spacing: 0;
      line-height: 30px;
      text-align: right;
      margin-right: 70px;
    }
    .user-setting {
      width: 80%;
      height: auto;
      .user-default {
        margin-bottom: 55px;
        &.edited,
        &.edit {
          .add {
            display: none;
          }
        }

        &.edited .btn-show {
          display: inline-block;
        }
        &.edited .introdutionShow {
          display: block;
        }
        &.edit .userTags, .button-container.update, .btn-show {
          display: none;
        }
        &.edit .EditStatus-container {
          display: flex;
          justify-content: space-between;
        }
        &.user-address {

        }
        &.user-profession {
          width: auto;
          display: flex;
          .df-select:nth-child(2) {
            display: none;
          }
          &.active .df-select:nth-child(2) {
            display: block;
          }
        }
        &.user-introdution {

        }
        &.user-tag {
          display: flex;
          justify-content: space-between;
          &:hover .button-container.update {
            display: block;
          }
          .userTags {
            width: 436px;
            .button-container.tag {
              margin: 0 10px 5px;
            }
          }
          .button-container.update {
            display: none;
          }
        }
        &.user-ins, &.user-phone {
          &.edited .addJump {
            display: none;
          }
          &.edited .exhibitionBtn {
            display: block;
          }
          .exhibitionBtn {
            display: none;
            line-height: 30px;
            font-size: 12px;
            color: #111111;
            letter-spacing: 0.19px;
          }
        }
        &.user-default-text {
          display: flex;
          &.user-phone .user-label {
            letter-spacing: .22px;
          }
          &.user-wechat .user-label {
            letter-spacing: 1.4px;
          }
          .user-label {
            width: 100px;
            font-size: 14px;
            color: #111111;
            letter-spacing: .29px;
            line-height: 30px;
            margin-right: 40%;
          }
          .user-messege {
            line-height: 30px;
            letter-spacing: 1.55px;
          }
        }
        .EditStatus-container {
          width: 100%;
          height: 100%;
          display: none;
          align-items: center;
          input {
            outline: none;
            width: 200px;
            height: 30px;
            padding-left: 10px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: $borderRadius;
            font-size: 14px;
            color: #111111;
            letter-spacing: 0.22px;
            line-height: 30px;
          }
          .kuang {
            width: 438px;
            height: 153px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.50);
            border-radius: $borderRadius;
            display: flex;
            flex-direction: column;
            .editIntrodution {
              width: 100%;
              height: 80%;
              padding: 8px 10px;
              border-radius: 3px;
              font-size: 12px;
              color: #111111;
              letter-spacing: 0.23px;
              resize: none;
              outline: none;
              border: none;
            }
            span {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding: 10px;
            }
          }
        }
        .introdutionShow {
          display: none;
          width: 436px;
          background: #FFFFFF;
          border: 1px solid rgba(0, 0, 0, 0.08);
          border-radius: $borderRadius;
          padding: 8px 10px;
          transition: all .2s ease;
          font-size: 12px;
          color: #111111;
          letter-spacing: 0.23px;
          overflow-wrap: break-word;
          &:hover {
            border: 1px solid rgba(0, 0, 0, 0.50);
          }
        }
      }
    }
  }
}

.button-container {
  border-radius: $borderRadius;
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  &:after {
    float: left;
    margin-right: 6px;
    display: block;
    //content: '\e613';
    font-family: 'iconfont';
  }
  &.btn-animation {
    background: transparent;
  }
  &.add {
    background: #EBEBEB;
    font-size: 14px;
    color: #111111;
    letter-spacing: 0.26px;
    &:after {
      content: '';
    }
  }
  &.tag {
    cursor: default;
    border: 1px solid #979797;
    color: #323232;
    letter-spacing: 0.19px;
    &:after {
      content: '';
    }
  }
  &.update {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: #4887FA;
    letter-spacing: 0;
  }
  &.save {
    background: #508DFB;
    color: #FFFFFF;
    letter-spacing: 0;
    &:after {
      content: '';
    }
  }
  &.btn-show {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: #111111;
    letter-spacing: 0.22px;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.50);
      transition: all .2s ease;
    }
    &:after {
      content: '';
    }
  }
  &.addJump {
    padding: 6px 0;
    color: #4C8AF7;
    letter-spacing: 0.25px;
    &:after {
      content: '\e65e';
    }
  }
}

.bindwechat {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  background: rgba(30, 30, 30, 0.8);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1001;
  .bind-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .cord {
      padding: 10px;
      background: #fff;
      position: relative;
      width: 240px;
      margin: 0 auto;
      .reload {
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(256, 256, 256, .98) url(https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/static-web/reload.png) no-repeat center;
      }
      .hidden {
        display: none;
      }
    }
    .tip-message {
      margin-top: 15px;
      font-size: 14px;
      color: red;
      text-align: center;
      line-height: 15px;
    }
  }
}

