$paddingTop: 8px; // 间隔
$borderWidth: 5px; // 三角大小

.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s .3s;
  z-index: 10001;

  // 背景色
  &.white {
    .tooltip-inner {
      color: #111;
      background: #fff;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
      &:before {
        border-bottom-color: #fff;

      }
    }
  }

  &.black {
    .tooltip-inner {
      color: #FFFFFF;
      background: #111111;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
      &:before {
        border-bottom-color: #111;
      }
    }
  }

  // 方向
  &.bottom {
    padding-bottom: $paddingTop;
    .tooltip-inner:before {
      left: 50%;
      bottom: 3px;
      margin-left: -1*$borderWidth;
      transform: rotate(180deg);
    }
  }
  &.bottom-left {
    padding-bottom: $paddingTop;
    .tooltip-inner:before {
      left: 10px;
      bottom: 3px;
      transform: rotate(180deg);
    }
  }
  &.bottom-right{
    padding-bottom: $paddingTop;
    .tooltip-inner:before {
      right: 10px;
      bottom: 3px;
      transform: rotate(180deg);
    }
  }
  &.top {
    padding-top: $paddingTop;
    .tooltip-inner:before {
      top: 3px;
      left: 50%;
      margin-left: -1*$borderWidth;
    }
  }
  &.top-left {
    padding-top: $paddingTop;
    .tooltip-inner:before {
      top: 3px;
      left: 10px;
      margin-left: 0;
    }
  }
  &.top-right {
    padding-top: $paddingTop;
    .tooltip-inner:before {
      top: 3px;
      right: 10px;
      margin-left: 0;
    }
  }
  &.right{
    padding-right: $paddingTop;
    .tooltip-inner:before {
      right: 1px;
      top: 50%;
      margin-top: -1*$borderWidth;
      transform: rotate(90deg);
    }
  }
  &.right-top {
    padding-right: $paddingTop;
    .tooltip-inner:before {
      right: 1px;
      top: 10px;
      transform: rotate(90deg);
    }
  }
  &.right-bottom {
    padding-right: $paddingTop;
    .tooltip-inner:before {
      right: 1px;
      bottom: 20px;
      transform: rotate(90deg);
    }
  }
  &.left{
    padding-left: $paddingTop;
    .tooltip-inner:before {
      top: 50%;
      left: 1px;
      margin-top: -1*$borderWidth;
      transform: rotate(-90deg);
    }
  }
  &.left-top {
    padding-left: $paddingTop;
    .tooltip-inner:before {
      top: 10px;
      left: 1px;
      transform: rotate(-90deg);
    }
  }
  &.left-bottom {
    padding-left: $paddingTop;
    .tooltip-inner:before {
      bottom: 10px;
      left: 1px;
      transform: rotate(-90deg);
    }
  }
}

// 提示文案容器
.tooltip-inner {
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  // 提示文案指向
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $borderWidth $borderWidth;
    border-color: transparent;
  }
}