<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精选集弹出层</title>
    <link rel="stylesheet" href="../../common/common.scss"/>
</head>
<body>
<div id="app">
    <div id="select-pop-panel">
        <div class="select-pop-panel">
            <i class="iconfont cancel-pop">&#xe618;</i>
            <div class="left pane">
                <div class="left-holder">
                    <div class="left-wrapper">
                        <div class="img-area">
                            <!--<img src="http://ruhnnwebpic.img-cn-hangzhou.aliyuncs.com/instagram/16123082_802832653188485_5457314050503344128_n.jpg?x-oss-process=image/resize,w_500/format,webp"-->
                            <!--width="100%">-->
                            <img src="http://ohwq89f8l.bkt.clouddn.com/f9acc34936663efd58a88d17eab305cc.jpg"
                                 width="100%">
                        </div>
                        <div class="left-footer">
                            <span>来自</span>Ins<img class="avatar"
                                                   src="http://ruhnnwebpic.img-cn-hangzhou.aliyuncs.com/instagram/11376125_1618121855130044_174276157_a.jpg?x-oss-process=image/resize,w_60/format,webp">
                            ***8
                        </div>
                    </div>
                </div>
            </div>
            <div class="right pane">
                <div class="title-container">
                    <div class="createTitle">选择精选集</div>
                    <!--警示框-->
                    <div class="warning"></div>
                </div>
                <div class="boards-wrapper">
                    <div class="sections">
                        <!--输入框-->
                        <ul class="section create-board">
                            <li>
                                <div class="iconfont">&#xe614;</div>
                                <div class="new-folder">新建精选夹</div>
                                <!--<input class="board-name" type="text" placeholder="在此输入名字"/>-->
                                <!--<button class="create-board-button">创建并加入</button>-->
                            </li>
                        </ul>
                        <!--精选集列表-->
                        <ul class="section all-boards">
                            <li>
                                <div class="cover-img"></div>
                                <span class="name">衣服</span>
                                <button class="add-board-button float-r">加入</button>
                            </li>
                        </ul>
                        <!--系统推荐-->
                        <ul class="section board-create-suggestions">
                            <li class="section-title">推荐使用精选集名称</li>
                            <li>
                                <i class="cover-img iconfont">&#xe614;</i>
                                <span class="name">连衣裙</span>
                                <button class="add-board-button">创建并加入</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>