@import '../../common/variable';

#select-pop-panel {
  @include popBg();
  background: rgba(0, 0, 0, .8);
  z-index: 1001;
  .select-pop-panel {
    display: flex;
    @include centerPop();
    width: 800px;
    height: 640px;
    max-height: 660px;
    background: #fff;
    border-radius: $borderRadius;
    .cancel-pop {
      @include closePop();
      top: 21px;
    }
    .pane {
      width: 50%;
      top: 0;
      bottom: 0;
      height: inherit;
      overflow: hidden;
    }
  }
}

.left.pane {
  display: table;
  border-radius: $borderRadius 0 0 $borderRadius;
  border-right: 1px solid #efefef;
  .left-holder {
    display: table-cell;
    vertical-align: middle;
    .left-wrapper {
      width: 300px;
      margin: 0 auto;
      .img-area {
        max-height: 496px;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: $borderRadius;
        }
      }
      .left-footer {
        margin-top: 10px;
        font-size: 12px;
        .platform {
          color: #B4B4B4;
          margin-right: 10px;
        }
        .uname {
          color: #323232;
        }
      }
    }
  }
}

.right.pane {
  border-radius: 0 $borderRadius $borderRadius 0;
  //加入按钮
  .add-board-button {
    height: 40px;
    color: #fff;
    background: #F3474A;
    border-radius: $borderRadius;
  }
  .title-container {
    width: 100%;
    border-top-right-radius: 6px;
    .createTitle {
      padding: 18px 0 20px 20px;
      color: #464646;
      font-size: 20px;
      font-weight: $fontWeightBold;
    }
    .title-warning {
      margin: 10px 20px 0;
      padding: 11px;
      border-radius: $borderRadius;
    }
    .create-board {
      padding: 0 20px 20px;
      .create-board-btn {
        cursor: pointer;
        button {
          display: inline-block;
          @include squareCenter(40px);
          color: #fff;
          background: #1d1d1d;
          border-radius: $borderRadius;
          margin-right: 20px;
        }
      }
      .create-board-edit {
        position: relative;
        .warning {
          top: 45px;
          right: 100px;
        }
      }

      .board-name {
        width: 257px;
        height: 40px;
        margin-right: 10px;
        padding: 0 13px;
        color: #1D1D1D;
        border: 0;
        background: rgba(0, 0, 0, 0.05);
        border-radius: $borderRadius;
        vertical-align: top;
      }
      .add-board-button {
        width: 92px;
      }
    }

  }
  .boards-wrapper {
    height: 450px;
    border-top: 1px solid #f3f3f3;
    overflow: auto;
    .sections {
      .all-boards {
        padding: 15px 0;
        li {
          cursor: pointer;
          padding: 5px 20px;
          .cover-img {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 19px;
            border-radius: $borderRadius;
            background-color: #e5e5e5;
            background-position: center;
            background-size: cover;
            overflow: hidden;
            vertical-align: middle;
            .icon-folder-work {
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              color: #fff;
              font-size: 16px;
              text-align: center;
              line-height: 40px;
              background: rgba(0, 0, 0, .52);
            }
          }
          .add-board-button {
            display: none;
            width: 55px;
            &.disabled {
              cursor: auto;
              background: #B4B4B4;
            }
          }
          &:hover {
            background: rgba(0, 0, 0, .05);
            .add-board-button {
              display: block;
            }
          }
          &.disabled {
            cursor: default;
          }
        }
      }
      .board-create-suggestions {
        border-top: 1px solid #f3f3f3;
        .section-title {
          color: #969696;
          padding: 18px 20px;
        }
        .system-folder {
          cursor: pointer;
          padding: 12px 20px;
          .icon-add-folder {
            color: #969696;
            margin-right: 8px;
          }
          .add-board-button {
            display: none;
            width: 92px;
            margin-top: -11px;
          }
          &:hover {
            background: rgba(0, 0, 0, .05);
            .add-board-button {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 900px) {
  #select-pop {
    .select-pop-panel {
      height: 500px;
    }
  }
}

