@import "../../common/variable";

#set-folder-pop-panel {
  @include popBg();
  background: rgba(0, 0, 0, .8);
  z-index: 1001;
  .set-folder-pop-panel {
    @include centerPop();
    width: 460px;
    border-radius: $borderRadius;
    background: #fff;
    overflow-x: hidden;
    z-index: 1001;
  }
  .cancel-pop {
    @include closePop();
  }
  .set-folder-pop-header {
    @include popHeader();
  }
  .set-folder-pop-content {
    padding: 20px;
  }
  .content-item {
    position: relative;
    margin-bottom: 30px;
    .title {
      font-size: 16px;
      color: #323232;
      margin-bottom: 10px;
    }
    [type='text'] {
      width: 100%;
      height: 40px;
      padding: 0 13px;
      color: #1D1D1D;
      border: 0;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      vertical-align: top;
    }
    label {
      font-size: 12px;
      margin-right: 24px;
    }
    textarea {
      padding: 8px 10px;
      color: #464646;
      resize: none;
      width: 100%;
      height: 140px;
      font-size: 12px;
      border: 0;
      background: #FAFAFA;
      border-radius: $borderRadius;
    }
    .word-tip {
      position: absolute;
      right: 10px;
      bottom: 8px;
      padding: 2px;
      font-size: 12px;
      color: #323232;
      &.red {
        color: #fff;
        background: #F3474A;
        border-radius: $borderRadius;
      }
    }
  }
  .set-folder-pop-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.06);;
    padding: 20px 10px;
    overflow: hidden;
    .btn-delete-folder {
      width: 110px;
    }
    button {
      margin: 0 10px;
    }
  }
  .more-info {
    height: 0;
    overflow-y: hidden;
    transition: all .3s ease-in-out;
    &.show {
      height: 310px;
    }
  }
  .more-info-control {
    cursor: pointer;
    font-size: 14px;
    color: #4887FA;
    .iconfont {
      display: inline-block;
      margin-left: 10px;
      font-size: 10px;
      transition: transform .3s ease-in-out;
      transform: rotate(180deg);
    }
    &.up {
      .iconfont {
        transform: rotate(0deg);
      }
    }
  }
  .tag-list {
    li {
      cursor: pointer;
      display: inline-block;
      width: 64px;
      line-height: 32px;
      margin: 0 10px 10px 0;
      font-size: 12px;
      color: #FFF;
      background-image: linear-gradient(-134deg, #1E1E24 0%, #2A2A43 100%);
      border-radius: $borderRadius;
      text-align: center;
    }
    .tag-add {
      background: #FFF;
      color: #545454;
      border: 1px solid rgba(0, 0, 0, 0.08);
    }
  }
  .folder-tag-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all .3s;
    transform: translateX(100%);
    .btn-back {
      cursor: pointer;
      position: absolute;
      left: 20px;
      top: 15px;
      width: 20px;
      height: 20px;
      color: #c8c8c8;
      font-size: 18px;
      transform: rotate(180deg);
    }
    &.show {
      transform: translateX(0);
    }
    .header {
      @include popHeader();
      border: 0;
      text-align: center;
      .sub-text {
        font-size: 14px;
        color: #464646;
        margin: 12px 0 5px;
      }
    }
    .content {
      position: absolute;
      top: 86px;
      bottom: 0;
      padding: 20px 0 80px;
      overflow: hidden;
    }
    .tag-list-pane {
      height: 100%;
      padding: 0 20px;
      overflow: auto;
    }
    .tag-list {
      position: relative;
      .tag-type {
        position: absolute;
        top: 0;
        left: 8px;
        color: #323232;
        font-weight: $fontSemibold;
      }
      ul {
        margin: 0 0 10px 50px;
      }
      li {
        background: #FFF;
        color: #545454;
        margin: 0 0 10px 10px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        &.select {
          color: #111;
          border: 1px solid #323232;
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  // 灰色字体
  .gray {
    color: #B3B3B3;
  }
}