@import "../../../common/variable";

.banner.owner-home {
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  margin-top: -1*$headerHeight;
  background: url(https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/static-web/banner_owner_home.jpg);
  background-size: auto 400px;
  background-position: center;
  background-repeat: repeat-x;
  //transition: all .3s;
  .container {
    display: flex;
    padding-top: 114px;
    text-align: center;
    .user-info {
      width: 500px;
      margin: 0 auto;
    }
    .detail {
      float: left;
      color: #fff;
    }
    .user-action {
      float: right;
      position: relative;
      font-size: 0;
      .btn-follow,
      .btn-to-share {
        width: 68px;
        height: 32px;
        border-radius: $borderRadiusBig;
        font-size: 12px;
        .iconfont {
          font-size: 12px;
          margin-right: 3px;
        }
        &.fan {
          color: #fff;
          background: transparent;
          border: 1px solid #FFFFFF;
        }
      }
      .btn-to-share {
        color: #000;
        background: #fff;
      }
    }
    .avatar {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      padding: 4px;
      background: white;
    }
    .name {
      font-weight: $fontWeightBold;
      margin-top: 46px;
      font-size: 30px;
      color: #FFFFFF;
    }
    .tag-list {
      li {
        display: inline-block;
        margin: 16px 5px 8px;
        padding: 0 9px;
        font-size: 12px;
        background: rgba(255, 255, 255, .12);
        color: #FFF;
        line-height: 26px;
        border-radius: 13px;
      }
    }
    .intro {
      margin-top: 11px;
      font-size: 14px;
      color: #E5E5E5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .follow-wrapper,
  .share-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    &:hover {
      #share-pane {
        display: block;
      }
    }
  }

  #share-pane {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 10px 0;
    text-align: left;
  }
}

#guide-wrapper3 .tooltip.top-right .tooltip-inner {
  transform: translateX(20px);
  &:before {
    top: -5px;
    right: 26px;
  }
}