.wx-app {
  padding-bottom: 60px;
  margin-top: 19px;
  border-top: 1px solid #f0f0f0;
  color: #323232;
  text-align: center;
  .wx-app-fun {
    & > div {
      display: inline-block;
      vertical-align: top;
      width: 165px;
      height: 200px;
      margin: 5px;
      padding-top: 13px;
      font-size: 12px;
      color: #545454;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 5px;
    }
    .fun-2 {
      margin-top: 47px;
      color: #323232;
      font-weight: 700;
    }
    img {
      margin-top: 19px;
      width: 136px;
      border-radius: 50%;
    }
  }
  .wx-app-tip {
    padding: 20px 0 26px;
    font-size: 14px;
    .big {
      margin: 8px 10px;
      font-size: 24px;
    }
  }
  &.black {
    border-top: 1px solid rgba(249, 249, 249, .08);
    color: #fff;
    .wx-app-fun {
      & > div {
        border: 1px solid rgba(255, 255, 255, 0.06);
        color: #777;
      }
      .title{
        width: 100%;
        text-align: center;
      }
      .fun-2 {
        color: #777;
      }
    }
  }
}

#download-app {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #FAFAFA;
  padding: 10px 14px;
  img {
    width: 40px;
  }
  .text-tip {
    display: inline-block;
    color: #323232;
    font-size: 14px;
    div:last-child {
      font-size: 12px;
    }
  }
  .btn-download-app {
    float: right;
    width: 80px;
    height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(-134deg, #1B1B24 0%, #252543 100%);
    border-radius: 6px;
  }
}