//兼容
@import "normailze";

/*
下载app
 */
@import "./downloadApp";
@import "../pages/mobile/ios/download/index";
@import "../pages/mobile/guide/index";
@import "../pages/mobile/folder/public/index";
@import "../pages/mobile/blog/index";
@import "../pages/mobile/authSuccess/index.css";
@import "../pages/mobile/show/index";
@import "../pages/mobile/owner/index";
@import "../pages/mobile/invite/index";
.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

// button
.btn-blue{
  padding: 0 8px;
  font-size: 12px;
  color: #FFF;
  line-height: 30px;
  border-radius: 15px;
  background-image: linear-gradient(-135deg, #66B0FC 0%, #4887FA 100%);
}

