@import "../../common/variable";

.share-pane {
  position: relative;
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: $borderRadius;
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 20px;
    border-bottom: 8px solid rgba(0, 0, 0, 0.02);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &:after {
    top: -6px;
    left: 21px;
    border-bottom: 6px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
  }
  .title {
    margin-bottom: 14px;
    color: #323232;
    font-size: 14px;
    font-weight: $fontMedium;
  }
  ul {
    margin-bottom: 27px;
    font-size: 0;
    li {
      cursor: pointer;
      display: inline-block;
      @include squareCenter(36px);
      margin-right: 11px;
      border-radius: $borderRadius;
      .iconfont {
        color: #fff;
        font-size: 15px;
      }
      &:last-child {
        margin: 0;
      }
    }
    .share-qq {
      background: #4799FF;
    }
    .share-qzone {
      background: #F9C02A;
    }
    .share-wechat {
      background: #6DD322;
    }
    .share-weibo {
      background: #F55;
    }
  }
  .url-pane {
    display: flex;
    input {
      width: 320px;
      padding: 10px;
      font-size: 14px;
      border: 0;
      border-radius: $borderRadius;
      background: #F0F0F0;
    }
    button {
      flex: 1;
      text-align: center;
      font-size: 12px;
      color: #999;
      &:hover {
        color: #323232;
      }
      &:active {
        color: #030303;
      }
    }
  }
  &.right {
    &:after,
    &:before {
      left: auto;
      right: 20px;
    }
    &:after {
      right: 21px;
    }
  }
}