@import "../../common/variable";

.show-brand-wrap{
  .height-line{
    height: 10px;
    background-color: #f5f5f5
  }
  .brand-header{
    height: 110px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand-name{
      font-size: 36px;
  	  color: #111111;
    }
    .btn-follow{
      width: 68px;
      height: 32px;
    }
  }
  .brand-filter{
    display: flex;
    height: 65px;
    padding-left: 20px;
    align-items: center;
    .filter-item-selected,
    .filter-item{
      cursor: pointer;
      font-size: 14px;
      color: #999999;
      margin-right: 50px;
      height: 100%;
      line-height: 65px;
    }
    .filter-item-selected{
      color: #121212;
    }
    .arrow-up{
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 0px;
      bottom: -3px;
      margin: 0 auto;
      left: 15px;
      &::after {
        display: inline-block;
        content: " ";
        height: 12px;
        width: 12px;
        border-width: 1px 0px 0px 1px;
        border-color: #e5e5e5;
        border-style: solid;
        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform-origin: center;
        transition: transform .3s;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -10px;
        background-color: #fff;
        z-index: 9;
      }
  }
  }
  .order-sort{
    .line{
      height: 1px;
      background-color: #e5e5e5;
    }
    .order-sort-wrapper{
      display: flex;
      height: 65px;
      padding-left: 20px;
      align-items: center;
      .filter-item-selected,
      .filter-item{
        cursor: pointer;
        font-size: 14px;
        color: #999999;
        margin-right: 50px
      }
      .filter-item-selected{
        color: #121212;
      }
    }
  }
}