/**
 * 秀场首字母仿通讯录检索，四级级联检索
 */
 @import "../../common/variable";

 .pop-modal{
   position: absolute;
   width: 785px;
  //  height: 365px;
   overflow-x: hidden;
   overflow-y: hidden;
   background-color: #ffffff;
   border: solid 1px rgba(0, 0, 0, 0.1);
   z-index: 1001;
   margin-top: -12px;
 }
 .season-modal{
   padding-top: 25px;
   height: 365px;
   overflow-x: hidden;
   overflow-y: auto;
   .cell-season-wrap{
     .season-year{
       padding-right: 58px;
       padding-left: 30px;
       font-size: 14px;
       color: #111111;
     }
     .season-detail{
       .cell-season-selected,
       .cell-season-value{
         cursor: pointer;
         min-width: 180px;
         padding-bottom: 25px;
         display: inline-block;
         color: #999999;
       }
       .cell-season-selected{
         color: #4887fa;
       }
     }
   }
 
 }
 .hide-modal{
   position: absolute;
   visibility: hidden;
 }
 // 首字母检索
 #word-filter-panel {
   .word-content,
   .word-list {
     color: #999999;
     background: #ffffff;
   }
   .word-content {
     max-height: 305px;
     background-color: #ffffff;
     border-top: solid 1px rgba(0, 0, 0, 0.2);
     padding: 16px;
     overflow-y: auto;
     .word-content-item {
       margin-bottom: 28px;
       &:last-child{
          margin-bottom: 0px;
        }
       .word-title {
         margin-bottom: 9px;
       }
       ul {
         width: 100%;
         .li-wrap-single{
          display: flex;
          justify-content: flex-start;
         }
         .li-wrap{
          display: flex;
          justify-content: space-between
         }
         .li-wrap-single li,
         .li-wrap li,
         li {
           cursor: pointer;
           font-size: 14px;
           color: #999999;
           float: left;
           padding: 10px;
           flex: 1;
           text-align: left;
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           &:hover {
             color: #4887fa;
           }
         }
       }
     }
   }
   .word-list {
     padding: 22px 30px;
     display: flex;
     justify-content: space-between;
     li {
       display: inline-block;
       color: #111111;
       cursor: pointer;
       width: 25px;
       text-align: center;
       &.gray {
         color: #c8c8c8;
       }
       &:hover {
         color: #4887fa;
       }
     }
   }
 }
 
 #category-filter-panel {
   .line {
     width: 100%;
     height: 1px;
     background-color: rgba(229, 229, 229, 0.1);
   }
   .cell-season-wrap {
     display: flex;
     .season-detail{
       flex: 1
     }
   }
   .new-select-panel {
     padding: 30px 0 10px 0;
     display: flex;
     .new-select-value{
       flex: 1;
       padding-left: 20px;
       margin-top: -4px;
       .designer-value,
       .city-value,
       .diy-value,
       .value-selected,
       .season-value{
         cursor: pointer;
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         line-height: 20px;
         letter-spacing: 0px;
         color: #ffffff;
         margin-bottom: 20px;
         display: inline-block;
       }
       .season-value-wrap{
         display: inline-block;
         min-width: 180px;
       }
       .city-value,
       .season-value{
         &:hover{
           color: #4887fa;
         }
       }
       .diy-value{
         margin-left: 10px;
         padding: 2px 20px;
         height: auto;
         border-radius: 3px;
         border: solid 1px #ffffff;
       }
     }
     .new-select-value,
     .new-select-title {
       .select-title {
         margin-right: 42px;
         font-size: 18px;
         font-weight: normal;
         font-stretch: normal;
         letter-spacing: 0px;
         color: #ffffff;
       }
       .select-all-selected,
       .value-selected,
       .city-value,
       .season-value,
       .select-all {
         cursor: pointer;
         font-size: 14px;
         letter-spacing: 0px;
         color: #ffffff;
         display: inline-block;
         padding: 4px 10px;
         border-radius: 3px;
       }
       .value-selected,
       .city-value{
         margin-right: 10px
       }
       .value-selected,
       .select-all-selected {
         color: #121212;
         background-color: #ffffff;
         border-radius: 3px;
         .icon-cancel-white{
           margin-left: 10px;
           color: #111;
           font-size: 14px;
         }
       }
     }
   }
 }
 
 // 黑背景滚动条
//  .scrollbar {
//    &::-webkit-scrollbar {
//      background-color: transparent;
//    }
//    &::-webkit-scrollbar-thumb {
//      background-color: #333;
//      border-radius: 10px;
//      width: 20px;
//    }
//  }
 
 //适配小屏
 @media screen and (max-height: 900px) {
   #word-filter-panel .word-content,
   #cascade-filter-panel {
     max-height: 365px;
   }
   #cascade-filter-panel .select-panel ul {
     max-height: 365px;
   }
 }