@import "../../common/variable";

.category-filter-selection {
  position: fixed;
  top: $headerHeight;
  left: 0;
  background: #ffffff;
  width: 100%;
  z-index: 1;
  .order-selected {
    height: 77px;
    font-size: 12px;
    color: #999999;
    letter-spacing: -.29px;
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    .order-selected-item {
      cursor: pointer;
      display: inline-block;
      border-radius: 8px;
      background: rgba(0, 0, 0, .06);
      padding: 6px 10px;
      font-size: 18px;
      color: #111111;
      letter-spacing: -0.43px;
      margin-right: 20px;
      .icon-close-tag {
        font-size: 14px;
        color: #B3B3B3;
        margin-left: 10px;
      }
    }
    span {
      display: block;
      float: left;
      line-height: 77px;
    }
    .filter-category {
      margin-left: 140px;
      height: 77px;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }
  }
  .new-sort-order{
    margin-top: 25px!important;
  }
  .new-sort-order,
  .order-sort {
    margin-top: 10px;
    width: 100%;
    height: 52px;
    background: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, .02);
    border-top: 1px solid rgba(0, 0, 0, .02);
    line-height: 52px;
    font-size: 12px;
    color: #999999;
    letter-spacing: -0.29px;
    overflow: hidden;
    span {
      float: left;
    }
    .order-sort-wrapper {
      float: left;
      margin-left: 73px;
      overflow: hidden;
      .order-sort-mode {
        float: left;
        cursor: pointer;
        &.new {
          margin-right: 50px;
        }
        &.high-light {
          color: #1E1E1E;
        }
      }
    }
  }

}