#owner-share {
  .owner-info {
    position: relative;
    width: 100%;
    height: 146px;
    background-size: cover;
    background-position: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .59);
    }
    .avatar {
      position: absolute;
      top: 33px;
      left: 50%;
      margin-left: -32px;
      width: 64px;
      height: 64px;
      padding: 2px;
      overflow: hidden;
      border-radius: 50%;
      background: #fff;
      img {
        width: 100%;
        overflow: hidden;
        border-radius: 50%;
      }
    }
    .nickname {
      position: absolute;
      bottom: 17px;
      left: 50%;
      margin-left: -25%;
      width: 50%;
      font-size: 14px;
      color: #FFF;
      text-align: center;
    }
    .btn-sub{
      position: absolute;
      top: 50%;
      right: 15px;
      padding: 0 15px;
      margin-top: -15px;
    }
  }
  .blog-image {
    padding: 15px;
    display: flex;
    .left-pane {
      margin-right: 15px;
    }
    .left-pane,
    .right-pane {
      flex: 1;
      a {
        display: block;
        margin-bottom: 15px;
        border-radius: 3px;
        overflow: hidden;
        background: #f1f1f1;
      }
      img {
        width: 100%;
      }
    }
  }
  .open-app {
    border-top: 1px solid #f0f0f0;
    padding: 20px 0 125px;
    text-align: center;
    a {
      display: inline-block;
      padding: 0 20px;
    }
  }
}
