@import "../../../common/variable";
.pinterest-search-page {
  // 搜索样式
  .search-header {
    position: relative;
    margin: 40px 0 0px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    input {
      width: 61%;
      min-width: 535px;
      height: 38px;
      background-color: #ffffff;
      border: solid 1px #999999;
      padding: 10px 0;
      padding-left: 20px;
      border-radius: 4px;
    }
    input:focus {
      // -webkit-box-shadow: 0 0 4px 1px rgba(102,102,102,30);
      // box-shadow:  0 0 4px 1px rgba(102,102,102,30);
      border-color: #111;
    }
    input:hover {
      border-color: #111;
    }
    input::-webkit-input-placeholder {
      //font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #cccccc!important;
    }
    .search-btn {
      width: 70px;
      height: 32px;
      background-color: #111111;
      border-radius: 4px;
      margin-left: -73px;
      color: white;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
    }
    .search-btn:hover {
      text-decoration: none;
      color: #fff;
      background-color: #666;
    }

    .limit-container {
      position: absolute;
      width: 100%;
      .historyArea {
        position: absolute;
        top: 25px;
        width: 61%;
        min-width: 535px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
        z-index: 5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        transition: all .3s ease-out .1s;
        .history-item {
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0 25px;
          color: #999999;
          cursor: pointer;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .history-item:hover {
          background-color: #efefef;
          color: #111111;
        }
        .his-bak {
          background-color: #efefef;
          color: #111111;
        }
        .clear-history {
          width: 100%;
          height: 50px;
          line-height: 50px;
          background-color: #f4f4f4;
          text-align: center;
          color: #cccccc;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          .clear {
            cursor: pointer;
          }
        }
      }
    }
  }
  .search-header:after {
    content: "";
    width: 200%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    position: absolute;
    bottom: -52px;
    z-index: 1;
    left: -50%;
  }

  // 标签部分
  .tag-mid {
    width: 100%;
    position: relative;
    margin-top: 74px;
    .iconfont {
      line-height: 50px;
      font-size: 30px;
      color: #B4B4B4;
      cursor: pointer;
    }
    .left-move {
      position: absolute;
      left: -55px;
      top: 5px;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all .5s;
    }
    .left-move:hover {
      background: rgba(0,0,0,.05);
    }
    .left-move:after {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 1;
      right: -50px;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Firefox 3.6 - 15 */
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* 标准的语法 */
    }
    .right-move {
      position: absolute;
      right: -55px;
      top: 5px;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      transition: all .5s;
    }
    .right-move:hover {
      background: rgba(0,0,0,.05);
    }
    .right-move:before {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      z-index: 1;
      left: -50px;
      background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* 标准的语法 */
    }
    .tag-area {
      width: 100%;
      position: relative;
      overflow: hidden;
      text-align: left;
      .tags-list {
        transition: all 0.5s ease 0s;
        width: auto;
        height: 60px;
        display: inline-block;
        white-space: nowrap;
        .bg-a {
          background-color: #a9c499!important;
        }
        .bg-b {
          background-color: #a9c0bd!important;
        }
        .bg-c {
          background-color: #c499a7!important;
        }
        .bg-d {
          background-color: #c4b499!important;
        }
        .bg-e {
          background-color: #a499c4!important;
        }
        .bg-f {
          background-color: #99bdc4!important;
        }
        .tag-con {
          min-width: 70px;
          display: inline-block;
          position: relative;
          cursor: pointer;
          padding: 0 15px;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
          background-color: #a499c4;
          border-radius: 5px;
          color: #fff;
          margin: 5px;
          text-align: center;
          transition: all .5s;
          &.active {
            color: #0c0c12;
            &:after, &:before {
              display: block;
            }
          }
        }
        //.tag-con:hover {
        //  margin: 0 15px;
        //}
      }
    }
    //.tag-area:hover {
    //  overflow: auto!important;
    //}
  }

  // 加载中
  .loading-img {
    position: fixed;
    top: 220px;
    width: 140%;
    height: 100%;
    left: -20%;
    background-color: #fff;
    opacity: .85;
    z-index: 1;
    overflow: hidden;
    .img-shap {
      width: 100%;
      height: 100%;
      //background-image: url(https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/article/1531798928421_975050289);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      //top: 215px;
    }
    .loading-area {
      width: 400px;
      height: 94px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      .moveObj {
        position: relative;
        width: 40px;
        height: 33px;
        transition: all .4s;
        .percent {
          text-align: center
        }
        .blackb {
          //width: 16px;
          //height: 16px;
          //background-color: #121212;
          //border-radius: 100%;
          //margin: 12px;
          width: 28px;
          height: 16px;
          margin: 12px 6px 0 6px;
          background-image: url(https://zhiyi-web.oss-cn-hangzhou.aliyuncs.com/article/1531828937170_887086670);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          .whiteb {
            //width: 8px;
            //height: 8px;
            //margin: 4px;
            //background-color: #ffffff;
            //border-radius: 100%;
            //display: inline-block;
            width: 8px;
            height: 8px;
            margin: 4px 4px 0 16px;
            background-color: #fff;
            border-radius: 100%;
            display: inline-block;
          }
        }
      }
      .loading-pro {
        width: 400px;
        height: 6px;
        border-radius: 3px;
        border: solid 1px #999999;
        .loading-pro {
          margin-top: -1px;
          width: 50%;
          height: 6px;
          border-radius: 3px;
          background: #000000;
          border: solid 1px #000000;
          transition: all .4s;
        }
      }
      .loading-text {
        width: 100%;
        text-align: center;
        color: #121212;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.cusMaskHide {
  overflow: hidden;
}

// 搜索加载进度条
#pinterest-search-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.85;
  z-index: 100;

  #select-pop-panel {
    @include popBg();
    background: rgba(0, 0, 0, .8);
    z-index: 1001;
    .select-pop-panel {
      display: flex;
      @include centerPop();
      width: 800px;
      height: 640px;
      max-height: 660px;
      background: #fff;
      border-radius: $borderRadius;
      .cancel-pop {
        @include closePop();
        top: 21px;
      }
      .pane {
        width: 50%;
        top: 0;
        bottom: 0;
        height: inherit;
        overflow: hidden;
      }
    }
  }
}

.search-header-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pinterest{
  margin-top: 74px;
}
.search-wrap{
  margin-top: 15px;
    width: 1011px;
    text-align: right;
  .search-img-wrap{
    font-size: 15px;
    position: relative;
    color: #999999;
    .search-img-title{
      cursor: pointer;
      color: #4887fa;
      &:hover + .search-img{
          opacity: 1;
      }
    }
  }
  .search-img{
    opacity: 0;
    z-index: 5;
    transition: opacity 0.2s;
    position: absolute;
    right: -44px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 14px;
	  color: #121212;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px 
      rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    img{
      width: 130px;
      height: 130px;
      margin-bottom: 6px;
    }
  }
}