.tc {
    text-align: center;
}

.title {
    font-size: 13px;
    line-height: 18px;
    /*height: 118px;*/
    /*padding: 50px 69px;*/
    color: #111111;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.authority {
    font-size: 12px;
    color: #333333;
    line-height: 22px;
    padding: 0 69px 80px;
}

.btmText {
    font-size: 12px;
    color: #3D64F7;
}

.hide {
    display: none;
}

.returnBtn {
    width: 100%;
    margin-top: 100px;
}

.returnBtn button {
    display: inline-block;
    width: 109px;
    height: 38px;
    background: #3D64F7;
    font-size: 13px;
    line-height: 38px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
}
