@import "../../common/variable";

#report-pop-panel {
  @include popBg();
  z-index: 1001;
  background: rgba(0, 0, 0, .6);
  .report-pop-panel {
    @include centerPop();
    width: 400px;
    background: #FFFFFF;
    border-radius: $borderRadius;
    overflow: hidden;
    .cancel-pop {
      @include closePop();
    }
    .report-pop-header {
      @include popHeader();
    }
    .report-pop-content {
      padding: 23px 20px 20px;
    }
    .report-sub-text {
      margin-bottom: 43px;
      font-size: 12px;
      color: #323232;
    }
    ul {
      li {
        width: 33.3%;
        float: left;
        font-size: 12px;
        color: #1D1D1D;
        margin-bottom: 14px;
        &:nth-child(3n+2) {
          text-align: center;
        }
        &:nth-child(3n+3) {
          text-align: right;
        }
        div {
          cursor: pointer;
          width: 75px;
          text-align: left;
        }
        span {
          display: inline-block;
          position: relative;
          width: 10px;
          height: 10px;
          background: #FFFFFF;
          margin-right: 5px;
          border: 1px solid #969696;
          border-radius: 50%;
        }
        &.select {
          span:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            background: #1D1D1D;
            border-radius: 50%;
          }
        }
      }
    }
    .report-textarea {
      position: relative;
      min-height: 36px;
      margin-top: 39px;
      .textarea-pane {
        position: relative;
        width: 0;
      }
      pre {
        display: block;
        visibility: hidden;
        padding: 10px 12px 9px;
        margin: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 12px;
        height: 0;
      }
      textarea {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        opacity: 0;
        font-size: 12px;
        color: #464646;
        background: #F0F0F0;
        border: 0;
        border-radius: 3px;
        resize: none;
        transition: all .3s;
        overflow: hidden;
        &::-webkit-input-placeholder {
          color: #b3b3b3;
        }
      }
      .btn-to-post {
        position: absolute;
        top: 0;
        right: 50%;
        width: 60px;
        height: 36px;
        border-radius: $borderRadius;
        color: #fff;
        background: #F3474A;
        transition: all .3s;
        transform: translateX(50%);
        &.null {
          cursor: auto;
          background: #B4B4B4;
        }
      }

      &.show-textarea {
        .textarea-pane {
          width: 290px;
        }
        pre {
          height: auto;
          min-height: 36px;
        }
        textarea {
          width: 100%;
          opacity: 1;
          margin-right: 10px;
          padding: 10px 12px 9px;
          animation: showAll .3s;
          animation-fill-mode: forwards;
        }
        .btn-to-post {
          transform: translateX(0);
          right: 0;
        }
      }
    }
  }
}