<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意见反馈--react</title>
    <link rel="stylesheet" href="../../common/common.scss"/>
</head>
<body>
<div id="app">
    <div id="report-pop-wrapper">
        <div id="report-pop-panel">
            <div class="report-pop-panel">
                <i class="iconfont cancel-pop">&#xe618;</i>
                <div class="report-pop-header">
                    意见反馈
                </div>
                <div class="report-pop-content">
                    <div class="report-sub-text">该图片涉及</div>
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" name="report">垃圾广告
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="report">淫秽色情
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="report">人生攻击
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="report">敏感信息
                            </label>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="report-textarea">
                        <textarea placeholder="可在此输入更多意见"></textarea>
                        <button class="btn-to-post btn-red btn-round">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>