@font-face {
  font-family: 'iconfont';  /* project id 730154 */
  src: url('//at.alicdn.com/t/font_730154_z3ohkt1voo.eot');
  src: url('//at.alicdn.com/t/font_730154_z3ohkt1voo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_730154_z3ohkt1voo.woff') format('woff'),
  url('//at.alicdn.com/t/font_730154_z3ohkt1voo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_730154_z3ohkt1voo.svg#iconfont') format('svg');
}
// 适配苹方字体
@font-face {
  font-family: "PingFang-SC";
  font-weight: 100;
  src: local("PingFang SC Thin");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 300;
  src: local("PingFang SC Light");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 400;
  src: local("PingFang SC Regular");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 500;
  src: local("PingFang SC Medium");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 700;
  src: local("PingFang SC Semibold");
}

@font-face {
  font-family: "PingFang-SC";
  font-weight: 800;
  src: local("PingFang SC Heavy");
}