.clearfix {
  zoom: 1
}

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.two-line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.runway-avatar {
  color: #fff;
  text-transform: capitalize;
}

.tip-warning {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 10px;
  padding: 0 15px;
  line-height: 28px;
  border-radius: $borderRadius;
  transition: opacity .3s;
  z-index: 2;
  font-size: 12px;
  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &.show {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  &.warning {
    &:before {
      border-bottom: 8px solid #FFE778;
    }
  }

  &.danger {
    background: #F3474A;
    color: #fff;
    &:before {
      border-bottom: 8px solid #F3474A;
    }
  }
}

.hover-wrapper {
  position: relative;
  &:before {
    content: '';
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: -10px;
    padding: 10px;
    opacity: 0;
    background: rgba(0, 0, 0, .05);
    overflow: hidden;
    border-radius: $borderRadiusBig;
    transition: all .3s;
    transform: scale(0.93);
  }
  &:hover:before {
    opacity: 1;
    transform: scale(1);
  }
}

.warning {
  background: #FFE778;
  color: rgba(0, 0, 0, .5);
}

.red {
  color: #F55;
}
