@import "../../common/variable";

#folder-header-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.show-edit-num {
  height: 70px;
  line-height: 70px;
  color: #777;
  #edit-num {
    margin: 3px;
  }
  #select-all {
    cursor: pointer;
    margin-left: 16px;
    color: #323232;
    &:hover {
      color: #4493D0;
    }
    &:active {
      color: #3F85BC;
    }
  }
}

// 精选集详情页修改
.folder-item-content {
  // height: 70px;
  color: #777;
  #edit-num {
    margin: 3px;
  }
  #select-all {
    cursor: pointer;
    margin-left: 16px;
    color: #323232;
    &:hover {
      color: #4493D0;
    }
    &:active {
      color: #3F85BC;
    }
  }
}


.folder-header {
  position: relative;
  .folder-info {
    position: relative;
    //padding: 40px 0;
    padding: 20px 0;
    .folder-left {
      display: inline-block;
      width: 50%;
      overflow: hidden;
      .name {
        font-size: 36px;
        color: #111;
        span {
          //margin-left: 8px;
        }
        * {
          vertical-align: middle;
        }
        .invite-bot {
          width: 58px;
          height: 30px;
          background-color: #111111;
          border-radius: 3px;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #ffffff;
          margin-right: 10px;
          cursor: default;
        }
      }
      .folder-creator {
        margin-top: 20px;
        .creator-info {
          width: 100%;
          height: 36px;
          margin: 20px 0;
          &:after {
            display: block;
            content: '';
            clear: both;
          }
          .creator-name {
            float: left;
            overflow: hidden;
            line-height: 36px;
            .one-line {
              float: left;
              color: #111;
            }
            .creator-icon {
              float: left;
              margin-left: 20px;
              font-size: 12px;
              color: #B3B3B3;
            }
          }
          .avatar {
            float: left;
            @include avatar(36px);
            margin-right: 10px;
          }
        }
      }
      .tag-intro {
        &.no-result {
          margin-top: 30px;
        }
        margin-top: 20px;
        width: 660px;
        .tag-intro-up {
          width: 90%;
          margin-bottom: 23px;
          overflow: hidden;
          .tag-list {
            max-width: 80%;
            float: left;
            li {
              display: inline-block;
              line-height: 26px;
              margin-right: 10px;
              padding: 0 7px;
              font-size: 12px;
              color: #4A4A4A;
              background: #F0F0F0;
              border-radius: $borderRadius;
            }
            li.input-tag, li.no-tag {
              padding: 0;
              color: #323232;
              background: transparent;
              margin-right: 0;
              button:hover {
                color: #4887FA;
              }
            }
            li.no-tag {
              color: #818181;
            }
          }
          .folder-set {
            cursor: pointer;
            float: left;
            margin-left: 10px;
            color: #b3b3b3;
            &:hover {
              color: #4887fa;
            }
          }
          .collected-button {
            outline: none;
            border: 0;
            background: transparent;
            font-size: 12px;
            color: #4A4A4A;
            span {
              font-size: 20px;
              margin-right: 2px;
            }
          }
        }
        .folder-intro {
          width: 90%;
          overflow: hidden;
          line-height: 20px;
          .intro {
            float: left;
            max-width: 80%;
            max-height: 82px;
            font-size: 12px;
            color: #818181;
            p {
              max-width: 100%;
              overflow-wrap: break-word;
              padding-top: 5px;
              margin: 0 auto;
              display: inline-block;
              text-align: left;
            }
          }
          .folder-set {
            cursor: pointer;
            float: left;
            color: #b3b3b3;
            margin-left: 10px;
            &:hover {
              color: #4887fa;
            }
          }
        }
      }
    }
    .folder-right {
      display: inline-block;
      width: 50%;
      height: 30px;
      vertical-align: top;
      position: relative;
      .edit-button {
        width: 70px;
        height: 30px;
        font-size: 12px;
        color: #4A4A4A;
        background: #FFF;
        border: 1px solid #E6E6E6;
        border-radius: 30px;
        overflow: hidden;
        float: right;
      }
      .folder-num {
        margin-bottom: 10px;
        float: right;
        .folder-pic-num {
          float: right;
          font-size: 14px;
          color: #818181;
          &:nth-of-type(2) {
            margin-right: 20px;
          }
          span {
            font-size: 24px;
            color: #4a4a4a;
            margin-left: 10px;
          }
        }
      }
      .folder-operation {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
      }
      .btn-sellect-folder,
      .btn-set-folder,
      .btn-download-folder,
      .btn-share-folder,
      .btn-edit-collect-folder,
      .btn-edit-cancel-folder,
      .btn-edit-download,
      .btn-edit-folder,
      .btn-edit-copy,
      .btn-edit-back,
      .btn-edit-move
      {
        display: none;
      }
    }
    .folder-botton {
      position: absolute;
      left: 0;
      bottom: -70px;
      display: inline-block;
      @media screen and (max-width: 1500px) {
        width: 74%;
      }
      @media screen and (min-width: 1501px) {
        width: 80%;
      }
      z-index: 90;
      padding: 15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      .folder-num {
        float: left;
        .folder-pic-num {
          float: right;
          font-size: 14px;
          color: #818181;
          &:nth-of-type(2) {
            margin-right: 20px;
          }
          span {
            font-size: 24px;
            color: #4a4a4a;
            margin-left: 10px;
          }
        }
      }
      .folder-operation {
        //position: absolute;
        //right: 0;
        //bottom: 0;
        //width: 100%;
      }
      .btn-collect-folder {
        display: none;
      }
    }
    .tip {
      display: inline-block;
      vertical-align: middle;
      .icon-private-folder,
      .icon-share-folder {
        float: left;
        width: 26px;
        margin-right: 5px;
        color: #fff;
        font-size: 16px;
        border-radius: $borderRadius;
        background: #4887FA;
        text-align: center;
        line-height: 26px;
      }
      .num {
        float: left;
        padding: 0 8px;
        font-size: 12px;
        line-height: 26px;
        background: #9CCBAB;
        border-radius: $borderRadius;
        color: #fff;
      }
    }
    .input-intro {
      font-size: 12px;
      color: #323232;
      &:hover {
        color: #4887FA;
      }
    }
  }
}

#collector-pop-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  background: rgba(30, 30, 30, .8);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1001;
  .collector-pop-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    border-radius: 3px;
    background: #fff;
    z-index: 1001;
    .collector-pop-header {
      padding: 15px 20px;
      font-size: 20px;
      color: #464646;
      font-weight: 400;
      border-bottom: 1px solid #E5E5E5;
      .iconfont {
        float: right;
        font-size: 20px;
      }
    }
    .collector-pop-content {
      max-height: 320px;
      overflow-y: auto;
      .collector-pop-list {
        .collector-info {
          padding: 15px 20px;
          height: 85px;
          display: flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.06);
          &:last-child {
            border-bottom: none;
          }
          .collector-avatar {
            @include avatar(54px);
            margin-right: 10px;
          }
          .collector-basicInfo {
            flex: 1;
            .one-line {
              font-size: 18px;
              color: #111;
              margin: 4px 0 10px;
            }
            .creator-icon {
              font-size: 12px;
              color: #4A4A4A;
              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}